@use "../setting/variables" as s;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: max(12px, 1.6rem);
  font-family: s.$font-family1;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: s.$ColorBlack;
  overflow-x: hidden;
}

main {
  background-image: linear-gradient(
    -45deg,
    #fff 25%,
    rgba(192, 192, 192, 0.3) 25%,
    rgba(192, 192, 192, 0.3) 50%,
    #fff 50%,
    #fff 75%,
    rgba(192, 192, 192, 0.3) 75%,
    rgba(192, 192, 192, 0.3)
  );
  background-size: 6px 6px;
  background-attachment: fixed;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

video {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: cover;
}

a {
  color: s.$ColorBlack;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}
