@use "../setting/variables" as s;

.u-headingLv1Wrap {
  padding-top: 80px;
  text-align: center;
}

.u-headingLv1__en {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-family: s.$font-family2;

  @include s.mq(tab) {
    font-size: 3rem;
  }
}

.u-headingLv1__ja {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.u-headingLv1__ja::before,
.u-headingLv1__ja::after {
  content: "";
  height: 1px;
  background-color: s.$ColorBlack;
}

.u-headingLv1__ja::before {
  width: 20px;
  margin-right: 10px;
}
.u-headingLv1__ja::after {
  width: 20px;
  margin-left: 10px;
}

.u-headingLv2__wrap {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.u-headingLv2__en {
  font-size: 4rem;
  font-weight: bold;
}

.u-headingLv2__ja {
  position: relative;
  display: inline;
  font-size: 2rem;
  text-align: center;
}

.u-headingLv2__ja::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4.4rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 1;
  height: 1px;
  width: 3rem;
  background-color: s.$ColorBlack;
}
.u-headingLv2__ja::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -4.4rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 1;
  height: 1px;
  width: 3rem;
  background-color: s.$ColorBlack;
}

.u-headingLv3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.u-headingLv3--textAlignLeft {
  text-align: left;
}

.u-headingLv4 {
  font-weight: bold;
  text-align: center;
}

.u-contentContainer {
  margin-inline: auto;
  max-width: 1000px;
  width: 100%;
}

@media (max-width: 1280px) {
  .u-contentContainer {
    width: 90%;
  }
}

.u-contentInner {
  padding-bottom: 80px;
}

.fade-in {
  opacity: 0;
  transition-duration: 700ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 50px);
}

.fade-in-down {
  transform: translate(0, -50px);
}

.fade-in-left {
  transform: translate(-500px, 0);
}

.fade-in-right {
  transform: translate(500px, 0);
}

.fade-in2 {
  opacity: 0;
  transition-duration: 700ms;
  transition-property: opacity, transform;
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.wp-embed-responsive {
  margin-top: 0;
}
