@use "../setting/variables" as s;

/*******************************
| footer(footer.php)
*******************************/
.footer {
  background-color: s.$ColorBlack;
}

.footer__recapchaWrap {
  display: flex;
  justify-content: center;
  color: s.$ColorWhiteMain;
  font-weight: bold;
  padding-top: 20px;
}

.footer__recapchaLink {
  color: s.$ColorPink2;
  transition: 0.3s all;
}

.footer__recapchaLink:hover {
  opacity: 0.7;
}

.footer__br {
  display: none;

  @include s.mq(l-tab) {
    display: block;
  }
}

.footer__brSecond {
  display: none;
  @include s.mq(sp) {
    display: block;
  }
}

.footer__copyRightText {
  display: flex;
  justify-content: center;
  font-family: s.$font-family2;
  color: s.$ColorWhiteMain;
  padding-top: 20px;
  padding-bottom: 20px;
}
