@use "../setting/variables" as s;

/*******************************
| header(header.php)
*******************************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 1s;
  width: 100%;
}

.header__scrollBg {
  background-color: s.$ColorBlack;
}

.header__container {
  display: block;
  align-items: center;
  width: 100%;
  max-width: 950px;
  margin-inline: auto;
  transition: 1s all;
  @include s.mq(l-pc) {
    display: block;
    width: 90%;
  }
  @include s.mq(tab) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
  }
}

.header__scrollContainer {
  display: flex;
  justify-content: space-between;

  @include s.mq(tab) {
    justify-content: center;
  }
}

.header__logoLink {
  display: flex;
  align-items: center;
  margin-inline: auto;
  width: 128px;
  height: 56px;
  transition: 1s all;
}

.header__scrollLogo {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  margin-inline: 0;
}

.header__logoTitle {
  transition: 1s all;
}

.header__listMenu {
  display: flex;
  justify-content: space-between;
  font-family: s.$font-family2;

  @include s.mq(l-pc) {
    height: 56px;
  }
  @include s.mq(tab) {
    height: auto;
  }
}

.header__listItem {
  padding-right: 20px;

  @include s.mq(l-pc) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
}

.header__listItem:last-child {
  padding-right: 0;
}

.header__listLink {
  display: block;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: 1s all;
  color: s.$ColorBlack;
}

.header__listLink::before,
.header__listLink::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  transition: all 0.3s;
  background-color: s.$ColorPink2;
}

.header__listLink::before {
  top: 0;
  transform: translateX(-101%);
}
.header__listLink::after {
  bottom: 0;
  transform: translateX(101%);
}

.header__listLink:hover::before,
.header__listLink:hover::after {
  transform: translateX(0);
}

.header__scrollFont {
  color: s.$ColorWhiteMain;
}

.header-listNav {
  @include s.mq(tab) {
    display: none;
  }
}

.navActive {
  color: s.$ColorPink2;
}

.navActive.header__scrollFont {
  color: s.$ColorPink;
}

.header__hamburger {
  display: none;
}

.header__hamburger {
  @include s.mq(tab) {
    display: block;
  }
}

.header__hamburgerNav {
  width: 100%;
  height: 100vh;
  color: s.$ColorWhiteMain;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 99;
  text-align: center;
  transition: 0.8s ease;
  background-color: s.$ColorBlack;
}

.header__hamburgerNav.active {
  opacity: 1;
  visibility: visible;
  left: 0;
  color: s.$ColorWhiteMain;
}

.header__hamburgerMenu {
  position: absolute;
  top: calc(50% - 56px);
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.header__hamburgerItem {
  padding-top: 40px;
}

.header__hamburgerItem:first-child {
  padding-top: 0;
}

.header__hamburgerLink {
  color: s.$ColorWhiteMain;
}

.header__hamburgerBox {
  width: 30px;
  height: 23px;
  position: absolute;
  top: 20px;
  right: 28px;
  z-index: 100;
  cursor: pointer;
  transition: 0.4s;
}

.header__hamburgerLine {
  width: 30px;
  height: 2px;
  background-color: s.$ColorWhiteMain;
  position: absolute;
  transition: 0.4s ease-in-out;
}

.header__hamburgerLine {
  @include s.mq(tab) {
    background-color: s.$ColorBlack;
  }
}

.header__hamburgerLine:nth-child(1) {
  top: 0px;
}

.header__hamburgerBox.active .header__hamburgerLine:nth-child(1) {
  top: 8px;
  left: 0px;
  transform: rotate(-45deg);
  background-color: s.$ColorWhiteMain;
}

.header__hamburgerLine:nth-child(2) {
  top: 8px;
}
.header__hamburgerLine:nth-child(3) {
  top: 16px;
}

.header__hamburgerBox.active .header__hamburgerLine:nth-child(2),
.header__hamburgerBox.active .header__hamburgerLine:nth-child(3) {
  top: 8px;
  transform: rotate(45deg);
  background-color: s.$ColorWhiteMain;
}
