@use "../setting/variables" as s;

/*******************************
| inquiry
*******************************/

.inquiry__inner {
  position: relative;
}
.inquiry__wrap {
  text-align: center;
}
.inquiry__text {
  text-align: center;
}

.inquiry__itemBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-inline: auto;
  width: 400px;
  height: 100px;
  border-radius: 45px;
  font-size: 3.2rem;
  font-weight: bold;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    to right,
    s.$ColorLightBlue 0%,
    s.$ColorPink 100%
  );
}

.inquiry__itemBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-inline: auto;
  width: 400px;
  height: 100px;
  border-radius: 45px;
  font-size: 3.2rem;
  font-weight: bold;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767px) {
  .inquiry__itemBtn {
    width: 100%;
    max-width: 220px;
    height: 60px;
    font-size: 1.8rem;
  }
}

.inquiry__itemBtn:hover {
  transition: 0.6s all;
  background: s.$ColorBlack;
  border-radius: 50px;
  .inquiry__textBtn {
    display: inline-block;
    background: linear-gradient(90deg, s.$ColorLightBlue 0%, s.$ColorPink 100%);
    background: -webkit-linear-gradient(
      0deg,
      s.$ColorLightBlue 0%,
      s.$ColorPink 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.inquiry__itemBtn ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 45px;
  border: 4px solid transparent;
  background: s.$ColorBlack border-box border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  -webkit-mask-composite: destination-out;
  mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
  width: 400px;
  height: 100px;
  transition: 0.6s all;
}
@media (max-width: 767px) {
  .inquiry__itemBtn ::before {
    border: 3px solid transparent;
    width: 100%;
    max-width: 220px;
    height: 60px;
  }
}

.inquiry__itemBtn :hover::before {
  background: linear-gradient(90deg, s.$ColorLightBlue 0%, s.$ColorPink 100%)
    border-box border-box;
}
