@use "../setting/variables" as s;

/*******************************
| inquiry
*******************************/

.inquiry__inner {
  position: relative;
}
.inquiry__wrap {
  text-align: center;
}
.inquiry__text {
  text-align: center;
}

.inquiry__brSp {
  display: none;
}

.inquiry__brSp {
  @include s.mq(tab) {
    display: block;
  }
}

.inquiry__itemBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-inline: auto;
  width: 100%;
  max-width: 400px;
  height: 100px;
  border-radius: 45px;
  font-size: 3rem;
  font-weight: bold;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    to right,
    s.$ColorLightBlue2 0%,
    s.$ColorPink 100%
  );

  overflow: hidden;
  transition: 0.3s all;

  @include s.mq(l-pc) {
    max-width: 340px;
    height: 80px;
  }

  @include s.mq(tab) {
    max-width: 220px;
    height: 60px;
    font-size: 2.5rem;
  }
}

.inquiry__itemBtn:hover {
  background: s.$ColorBlack;

  .inquiry__textBtn {
    display: inline-block;
    background: linear-gradient(
      90deg,
      s.$ColorLightBlue2 0%,
      s.$ColorPink 100%
    );
    background: linear-gradient(
      90deg,
      s.$ColorLightBlue2 0%,
      s.$ColorPink 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      s.$ColorLightBlue2 0%,
      s.$ColorPink 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.inquiry__itemBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 45px;
  border: 2px solid transparent;
  background: s.$ColorBlack;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  -webkit-mask-composite: destination-out;
  mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
  width: 100%;
  max-width: 400px;
  height: 100px;
  transition: 0.3s all;

  @include s.mq(l-pc) {
    max-width: 340px;
    height: 80px;
  }

  @include s.mq(tab) {
    border: 2px solid transparent;
    max-width: 220px;
    height: 60px;
  }
}

.inquiry__itemBtn:hover::before {
  background: linear-gradient(90deg, s.$ColorLightBlue2 0%, s.$ColorPink 100%)
    border-box border-box;
}

.inquiry__itemBtn::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fbfbfb;
  animation: btn_animation 2.5s ease-in-out infinite;
}

@-webkit-keyframes btn_animation {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
