@use "../setting/variables" as s;

/*******************************
| allWorks(archive-allworks.php)
*******************************/
.allWorks {
  padding-top: 80px;
}

.allWorks__imgWrap {
  padding-top: 20px;
  margin-inline: auto;
  width: 200px;

  @include s.mq(l-pc) {
    width: 160px;
  }

  @include s.mq(tab) {
    width: 120px;
  }
}

.allWorks__inner {
  padding-top: 80px;
  @include s.mq(tab) {
    padding-top: 40px;
  }
}

.allWorks__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @include s.mq(tab) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.allWorks__card {
  width: 30%;
  padding-bottom: 40px;

  @include s.mq(tab) {
    width: 100%;
  }
}

.allWorks__card:last-child {
  @include s.mq(tab) {
    padding-bottom: 0;
  }
}

.allWorks__thumbnail {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 15px;
}

.allWorks__thumbnail img {
  transition: 0.3s all;
}

.allWorks__card:hover .allWorks__thumbnail img {
  transform: scale(1.05, 1.05);
}

.allWorks__body {
  padding-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
  border-top: solid s.$ColorBlack 1px;

  transition: 0.3s all;
}

.allWorks__card:hover .allWorks__body {
  opacity: 0.7;
}

.allWorks__text {
  font-weight: bold;
  word-break: break-all;
}

.allWorks__wrapPagination {
  margin-top: 40px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: s.$ColorBlack;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s all;
}

.page-link:hover {
  background-color: s.$ColorPink2;
  color: s.$ColorWhiteMain;
}

.page-item.active .page-link {
  background-color: s.$ColorPink2;
  color: s.$ColorWhiteMain;
}
