@use "../setting/variables" as s;

/*******************************
| firstView(front-page.php)
*******************************/
.firstView__container {
  position: relative;
}

.firstView__video {
  height: 100svh;
}

.firstView__textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  text-align: center;
  @include s.mq(sp) {
    width: 80%;
    max-width: 300px;
  }
}

.firstView__subText {
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-family: s.$font-family2;
  font-size: max(1.04vw, 14px);

  padding-top: max(1vw, 12px);
}

.firstView__subText:nth-of-type(1) {
  padding-top: max(2vw, 26px);
}

.firstView__scrollDownWrap {
  position: absolute;
  bottom: 1%;
  right: 50%;
  animation: arrowmove 2s ease-in-out infinite;
  opacity: 0;
}

@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 4%;
  }
  100% {
    bottom: 1%;
  }
}

.arrow {
  opacity: 1;
}

.firstView__scrollDownText {
  position: absolute;
  left: 0;
  bottom: 1.25vw;
  color: s.$ColorBlack;
  font-size: max(0.7vw, 12px);
  font-family: s.$font-family2;
  letter-spacing: 0.2em;
  writing-mode: vertical-rl;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.firstView__scrollDownText:before {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -0.5vw;
  width: 4px;
  height: 20px;
  background-color: s.$ColorBlack;
  transform: skewX(-31deg);
}

.firstView__scrollDownText:after {
  content: "";
  position: absolute;
  bottom: -0.5vw;
  left: 24px;
  width: 4px;
  height: max(4.43vw, 76px);
  background-color: s.$ColorBlack;
}

/*******************************
| topWorks(front-page.php)
*******************************/

.topWorks__container {
  display: flex;
  justify-content: space-between;

  @include s.mq(tab) {
    display: block;
  }
}

.topWorks__item {
  width: 30%;

  @include s.mq(tab) {
    width: 100%;
    margin-inline: auto;
    padding-top: 40px;
  }
}

.topWorks__item:first-child {
  @include s.mq(tab) {
    padding-top: 0;
  }
}

.rotate-scale-down-ver {
  -webkit-animation: rotate-scale-down-ver 0.65s linear both;
  animation: rotate-scale-down-ver 0.65s linear both;
}

.topWorks__item:nth-child(2).rotate-scale-down-ver {
  animation-delay: 0.3s;

  @include s.mq(tab) {
    animation-delay: 0s;
  }
}

.topWorks__item:nth-child(3).rotate-scale-down-ver {
  animation-delay: 0.6s;

  @include s.mq(tab) {
    animation-delay: 0s;
  }
}

@-webkit-keyframes rotate-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateY(180deg);
    transform: scale(0.5) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(360deg);
    transform: scale(1) rotateY(360deg);
  }
}
@keyframes rotate-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateY(180deg);
    transform: scale(0.5) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(360deg);
    transform: scale(1) rotateY(360deg);
  }
}

.topWorks__link {
  display: block;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.topWorks__thumbnail {
  border-radius: 15px;
  overflow: hidden;
}

.topWorks__thumbnail img {
  transition: 0.3s all;
}

.topWorks__thumbnail img:hover {
  transform: scale(1.05, 1.05);
}

.topWorks__linkBtn {
  display: block;
  width: 140px;
  margin-inline: auto;
  max-width: 100%;
  margin-top: 40px;
  margin-inline: auto;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;

  @include s.mq(l-pc) {
    width: 116px;
  }

  @include s.mq(tab) {
    width: 88px;
  }
}

.topWorks__textBtn {
  display: block;
  font-weight: bold;
  transition: 1s all;
  border-bottom: 2px solid s.$ColorPink3;
}

.topWorks__linkBtn:hover .topWorks__textBtn {
  transform: rotateY(360deg);
}

/*******************************
| services(front-page.php)
*******************************/

.services__media {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 3.5fr 1fr;
  padding: 40px;
  margin-top: 20px;
  margin-inline: auto;
  width: 100%;
  border: 1px s.$ColorBlack solid;
  background-color: s.$ColorWhiteMain;
  border-radius: 15px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  min-height: 210px;
  box-sizing: border-box;

  @include s.mq(tab) {
    width: 100%;
    display: block;

    padding: 20px;
  }
}

.services__media:nth-of-type(1) {
  margin-top: 0;
}

.services__media:nth-of-type(2n) {
  grid-template-columns: 1fr 3.5fr;
}

.services__media:last-child {
  margin-bottom: 0;
}

.services__titleMedia {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  width: 77%;
  height: 32px;
  border-bottom: 1px solid s.$ColorBlack;
  text-align: left;

  @include s.mq(tab) {
    width: 100%;
    height: auto;
  }
}

.services__media:nth-last-of-type(2n) .services__titleMedia {
  order: 2;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
}

.services__imgWrap {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  @include s.mq(tab) {
    display: block;
    max-width: 120px;
    margin-top: 20px;
    margin-inline: auto;
    padding-left: 0;
  }
}

.services__media:nth-last-of-type(2n) .services__imgWrap {
  order: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding-left: 0;
  padding-right: 20px;
}

.services__text {
  @include s.mq(tab) {
    margin-top: 20px;
  }
}

.services__media:nth-last-of-type(2n) .services__text {
  order: 3;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/*******************************
| about(front-page.php)
*******************************/

.about__media {
  display: flex;
  justify-content: space-around;

  @include s.mq(tab) {
    display: block;
  }
}

.about__imgWrap {
  width: 30%;

  @include s.mq(l-pc) {
    margin-top: 40px;
  }

  @include s.mq(tab) {
    margin-top: 0;
    width: 60%;
    margin-inline: auto;
  }
}

.about__img {
  border-radius: 15px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.about__body {
  width: 50%;
  margin-top: 40px;

  @include s.mq(tab) {
    width: 100%;
  }
}

.about__text {
  margin-top: 40px;

  @include s.mq(tab) {
    min-height: 78px;
  }
}

.TextTyping span {
  display: none;
}

.TextTyping br {
  display: none;
}

.TextTyping br.show {
  display: block;
}

.TextTyping::after {
  content: "|";
  animation: typinganime 0.1s ease infinite;
}

@keyframes typinganime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loding__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100svh;
  background-color: s.$ColorBlack;
  visibility: hidden;
}
.showLoading {
  opacity: 1;
  visibility: visible;
}

.showLoadingAnime {
  animation: lodingOpacity 1s ease;
}

@keyframes lodingOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loding__container--disyplayNone {
  display: none;
}

.loding__box {
  width: 200px;
  height: 60px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.loding__text {
  display: none;
}

.loding__text--disyplayBlock {
  display: block;
}

.loding__circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: s.$ColorPink2;
  left: 15%;
  transform-origin: 50%;
  animation: lodingCircle 0.5s alternate infinite ease;
}

@keyframes lodingCircle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.loding__circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.loding__circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.loding__shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: lodingShadow 0.5s alternate infinite ease;
}

@keyframes lodingShadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.loding__shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.loding__shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.loding__box span {
  position: absolute;
  top: 75px;
  font-family: "Lato";
  font-size: 20px;
  letter-spacing: 12px;
  color: s.$ColorWhiteMain;
  left: 15%;
}
