@use "../setting/variables" as s;

/*******************************
|price(page-price.php)
*******************************/
.price {
  padding-top: 80px;
  margin-inline: auto;
  max-width: 1000px;
}

.price__imgWrap {
  margin-inline: auto;
  width: 120px;
}

@media (max-width: 767px) {
  .price__imgWrap {
    width: 80px;
  }
}

.price__tableContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .price__tableContainer {
    display: block;
  }
}

.price__table {
  margin-top: 80px;
  width: 48%;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  border: 1px solid s.$ColorBlack;
  overflow: hidden;
}

@media (max-width: 767px) {
  .price__table {
    margin-top: 40px;
    width: 100%;
  }
}

.price__tableRow {
  height: 80px;
  border-top: 1px solid s.$ColorBlack;
}

@media (max-width: 767px) {
  .price__tableRow {
    height: 60px;
  }
}

.price__tableHeader {
  background-color: s.$ColorBlack;
  color: s.$ColorWhiteMain;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .price__tableHeader {
    height: 60px;
  }
}

.price__tableBodyHeader {
  text-align: center;
  vertical-align: middle;
  width: 140px;
  background-color: s.$ColorPink;
  border-top: 1px solid s.$ColorBlack;
}

.price__tableBodyText {
  padding: 12px;
  background-color: s.$ColorWhiteMain;
  font-size: 3rem;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid s.$ColorBlack;
}

.price__table .price__tableBodyText {
  border-top: 1px solid s.$ColorBlack;
}

.price__table .price__tableBodyText:last-child {
  border-bottom: none;
}

.price__cautionTitle {
  padding-top: 20px;
  text-align: left;
}
