@use "../setting/variables" as s;

/*******************************
| contact(page-contact.php)
*******************************/
.contact {
  padding-top: 80px;
}

.contact__imgWrap {
  padding-top: 20px;
  margin-inline: auto;
  width: 200px;
  @include s.mq(l-pc) {
    width: 160px;
  }

  @include s.mq(tab) {
    width: 120px;
  }
}

.contact__container {
  margin-top: 80px;
  border: solid 1px s.$ColorBlack;
  background-color: s.$ColorWhiteMain;

  @include s.mq(tab) {
    margin-top: 40px;
  }
}

.contact__stepFlowMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-inline: auto;
  width: 90%;
}

.contact__stepFlowItem {
  position: relative;
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  text-overflow: ellipsis;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  color: s.$ColorBlack;
}

.contact__stepFlowItem .bubble {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto 0.5em;
  border-radius: 1000px;
  background-color: s.$ColorGray;
}

.contact__stepFlowItem .bubble::after,
.contact__stepFlowItem .bubble::before {
  content: "";
  position: absolute;
  top: 9px;
  display: block;
  margin-left: 20px;
  width: calc(100% - 20px);
  height: 3px;
  background-color: s.$ColorGray;
}

.contact__stepCompleted .bubble,
.contact__stepCompleted .bubble::after,
.contact__stepCompleted .bubble::before {
  background-color: s.$ColorGray;
}

.contact__stepFlowItem:last-child .bubble::after,
.contact__stepFlowItem:last-child .bubble::before {
  width: 0%;
  margin-right: 50%;
}
.contact__stepFlowItem.contact__stepFlowActive,
.contact__stepFlowItem.contact__stepFlowActive .bubble {
  font-weight: bold;
  color: s.$ColorBlack;
  font-weight: bold;
}

.contact__stepFlowItem.contact__stepFlowActive .bubble {
  background-color: s.$ColorPink2;
}

.wpcf7-form {
  text-align: left;
  margin-inline: auto;
  width: 80%;
  .contact__tr--form {
    border-top: 1px #ddd solid;
    text-align: center;

    label {
      display: flex;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      .contact__th--form,
      .contact__td--form {
        text-align: left;
      }
      .contact__th--form {
        display: flex;
        align-items: center;
        width: 200px;
        padding-right: 20px;
        font-weight: bold;

        @include s.mq(l-pc) {
          width: 184px;
        }
        @include s.mq(tab) {
          width: 172px;
          margin-right: auto;
        }

        .required {
          color: s.$ColorWhiteMain;
          display: inline-block;
          padding: 0.2px 0.2px 0.2px;
          margin-left: 8px;
          border-radius: 2px;
          background-color: s.$ColorPink2;
        }
      }
      .contact__th--formRequired::after {
        content: "必須";
        position: static;
        display: inline-block;
        border-radius: 5px;
        padding: 2px 6px;
        margin-left: auto;
        font-size: 12px;
        line-height: 1.5;
        color: s.$ColorWhiteMain;
        background-color: s.$ColorPink2;
      }

      .contact__td--form {
        display: flex;
        width: 60%;
        align-items: center;

        .contact__item--form {
          border: 1px solid s.$ColorBlack;
          background: s.$ColorWhiteMain;
          width: 100%;
          padding: 4px;
        }
      }

      @media (max-width: 767px) {
        .contact__td--form {
          width: 100%;
          padding-top: 8px;
        }
      }

      .wpcf7-form-control-wrap {
        width: 100%;
      }

      br {
        display: none;
      }
    }
    @media (max-width: 767px) {
      label {
        display: block;
      }
    }
  }
  .contact__tr--form:nth-child(5) {
    border-bottom: 1px #ddd solid;
  }
}
@media (max-width: 767px) {
  .wpcf7-form {
    width: 90%;
  }
}

.contact__RecapchaWrap {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

@media (max-width: 767px) {
  .contact__RecapchaWrap {
    width: 90%;
  }
}

.contact__RecapchaLink {
  font-weight: normal;
  color: s.$ColorPink2;
  transition: 0.3s all;
}

.contact__RecapchaLink:hover {
  opacity: 0.6;
}

.contact__brSp {
  display: none;
}

@media (max-width: 767px) {
  .contact__brSp {
    display: block;
  }
}

.contact__wrapper--button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 40px;
}

.wpcf7-spinner {
  display: none;
}

.contact__item--button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 2rem;
  font-weight: bold;
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  color: s.$ColorWhiteMain;
  cursor: pointer;
  text-align: center;
  transition: 0.3s all;
  background-color: s.$ColorPink2;
}

@media (max-width: 767px) {
  .contact__item--button {
    width: 120px;
  }
}

.contact__item--button:hover {
  opacity: 0.7;
}

.grecaptcha-badge {
  visibility: hidden;
}

// 確認画面

.wpcf7cp-form-hide {
  display: none;

  .contact__tr--form {
    border-top: 1px #ddd solid;
  }
}
button.wpcf7cp-cfm-edit-btn {
  margin-bottom: 0;
}

button.wpcf7cp-cfm-submit-btn {
  margin-bottom: 0;
}

div#wpcf7cpcnf {
  height: auto;
  position: static;
  table {
    margin-inline: auto;
    width: 80%;
    word-break: break-all;
    word-wrap: break-all;

    tr {
      display: flex;
      justify-content: flex-start;
      border-top: 1px #ddd solid;

      padding-top: 40px;
      padding-bottom: 40px;
      th,
      td {
        text-align: left;
      }
      th {
        display: flex;
        margin-right: 20px;
        width: 240px;
        white-space: nowrap;
      }

      th::after {
        content: "必須";
        position: static;
        display: inline-block;
        border-radius: 5px;
        padding: 2px 6px;
        margin-left: auto;
        line-height: 1.5;
        max-height: 22px;
        font-size: 12px;
        color: s.$ColorWhiteMain;
        background-color: s.$ColorPink2;
      }

      td {
        display: flex;
        align-items: center;
        width: 100%;

        p {
          pointer-events: none;
          text-decoration: none;
        }
      }
    }

    tr:last-child {
      border-bottom: 1px #ddd solid;
      td {
        overflow-y: scroll;
        align-items: flex-start;
        height: auto;
        max-height: 120px;
        padding-bottom: 0;
      }
    }
  }

  .wpcf7cp-btns {
    text-align: center;

    margin-top: 0;
    .wpcf7-form-control {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      font-size: 2rem;
      font-weight: bold;
      width: 200px;
      margin-top: 40px;
      padding: 10px;
      border-radius: 15px;
      background-color: s.$ColorPink2;
      border: none;
      color: s.$ColorWhiteMain;
      cursor: pointer;
      transition: 0.3s all;
    }
    .wpcf7-form-control:hover {
      opacity: 0.7;
    }
    .wpcf7cp-cfm-edit-btn {
      background-color: s.$ColorLightBlue2;
    }
    .wpcf7cp-cfm-edit-btn:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 767px) {
  div#wpcf7cpcnf {
    table {
      width: 90%;

      tr {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        th,
        td {
          padding-bottom: 0;
        }
        th {
          width: 140px;

          p {
            display: flex;
            align-items: center;
          }
        }
        td {
          padding-top: 8px;
        }
      }
    }
    .wpcf7cp-btns {
      text-align: center;
      .wpcf7-form-control {
        max-width: 120px;
        width: 100%;
      }
    }
  }
}

.wpcf7cp-form-hide {
  .contact__item--button {
    display: none !important;
  }
}
