@use "../setting/variables" as s;

/*******************************
| privacy(page-privacy.php)
*******************************/
.privacy {
  padding-top: 80px;
  padding-bottom: 80px;

  @include s.mq(tab) {
    padding-top: 120px;
    padding-bottom: 40px;
  }
}

.privacy__headingLv2 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.privacy__wrap {
  padding-top: 20px;
}

.privacy__text {
  color: s.$ColorBlack;
  font-size: 1.8rem;
  font-family: s.$font-family1;
  line-height: 1.143;
  letter-spacing: 0.05em;
}

.privacy__text--paddingTop {
  padding-top: 40px;
}

.privacy__menu {
  color: s.$ColorBlack;
  font-size: 1.8rem;
  font-family: s.$font-family1;
  line-height: 1.143;
  letter-spacing: 0.05em;
}

ol {
  list-style-type: decimal;
  margin-left: 1.5em;
  color: s.$ColorBlack;
  font-size: 1.8rem;
  font-family: s.$font-family1;
  line-height: 1.143;
  letter-spacing: 0.05em;
}

.privacy__item {
  padding-top: 16px;
}
