@use "../setting/variables" as s;

/*******************************
| singleAllWorks(single-all-works.php)
*******************************/
.singleAllWorks {
  padding-top: 80px;
}

.singleAllWorks__imgWrap {
  border-radius: 15px;
  overflow: hidden;
}

.singleAllWorks__imgWrap img {
  transition: 0.3s all;
}

.singleAllWorks__imgWrap img:hover {
  transform: scale(1.05, 1.05);
}
