@use "../setting/variables" as s;

/*******************************
| singleAllWorks(single-all-works.php)
*******************************/
.singleAllWorks {
  padding-top: 80px;
  max-width: 640px;
  margin-inline: auto;
}

.singleAllWorks__headingLv1 {
  padding-top: 80px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;

  @include s.mq(tab) {
    font-size: 2rem;
  }
}

.singleAllWorks__imgWrap {
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.singleAllWorks__menu {
  margin-top: 20px;
}

.singleAllWorks__item {
  position: relative;
  padding-left: 16px;
}

.singleAllWorks__item::before {
  content: "●";
  position: absolute;
  top: 0;
  left: 0;
  color: s.$ColorBlack;
}

.singleAllWorks__link {
  font-weight: bold;
  color: s.$ColorPink;
  transition: 0.3s all;
}

.singleAllWorks__link:hover {
  opacity: 0.7;
}
